# Fichiers et dossiers générés par sbt
/target/
/project/project/
/project/target/
/project

# Fichiers de logs
*.log

# Fichiers spécifiques aux IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.bloop
.metals


# Fichiers spécifiques à l'OS
.DS_Store
Thumbs.db

# Fichier de contexte pour Gemini
gemini.md
highscore.dat
config.properties
